{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="capa_container">
        <img src="../static/imagens/capa.png" alt="capa" class="capa">
    </section>
    <article class="corpo_texto">
        <h1>Sobre a universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati accusantium ut veniam vero odit dolor sed
            aliquam ratione est, voluptatum minus, facilis quas velit ducimus natus molestiae quibusdam tempore earum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, qui vitae voluptates in excepturi eveniet!
            Quod atque nihil molestias veritatis ab repellat repellendus nostrum. Sequi deserunt temporibus incidunt
            facere magni?
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati accusantium ut veniam vero odit dolor sed
            aliquam ratione est, voluptatum minus, facilis quas velit ducimus natus molestiae quibusdam tempore earum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, qui vitae voluptates in excepturi eveniet!
            Quod atque nihil molestias veritatis ab repellat repellendus nostrum. Sequi deserunt temporibus incidunt
            facere magni?
        </p>

    </article>
{% endblock %}